name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  ci:
    uses: GeekVim/gh-lib/.github/workflows/ci.yml@main
    secrets: inherit
    permissions:
      contents: write
    with:
      plugin: starter
      repo: GeekVim/starter
