name: Update Repo

on:
  workflow_dispatch:
  schedule:
    # Run every hour
    - cron: "0 * * * *"

jobs:
  update:
    if: contains(fromJSON('["deriamis", "GeekVim"]'), github.repository_owner)
    uses: GeekVim/gh-lib/.github/workflows/update.yml@main
    secrets: inherit
